@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

@keyframes apagaToast {
    0% {
        opacity: 1;
    }
    66% { 
        opacity: 1;
    }
    100% { 
      opacity: 0;
    }
}

.apaga-toast {
    animation: apagaToast 1.5s forwards;
}

html, body {
    height: 100vh;
}

.bg-dark-blue {
    background-color: #070919;
}

.bg-light-blue {
    background-color: #4B4971;
}

.text-dark-blue {
    color: #4B4971;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-top-header {
    background-color: #05051F;
}

.bg-bottom-header {
    background-color: #04001B;
}

.kantumruy {
    font-family: 'Kantumruy Pro';
}

.category-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.category-button:hover,.nav-hover:hover {
    color: #4B4971 !important;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.main_image {
    height: 600px !important;
    max-height: 700px !important;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 60% !important;
    margin: auto;
    box-shadow: inset 0px 0px 10px 12px black;
    border-radius: 4px;
}

.main_image:hover {
    width: 100% !important;
    opacity: 1;
    transition: width, opacity, box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    box-shadow: inset 0px 0px 15px 12px black;
}

.main_image:not(:hover) {
    width: 60% !important;
    opacity: 0.9;
    transition: width, opacity, box-shadow;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    box-shadow: inset 0px 0px 10px 12px black;
}

.card-container_image {
    opacity: 0.8;
    height: 80%;
    max-height: 500px;
    max-width: 500px;
}

.card-container_image:hover  {
    opacity: 0.6;
    transition:opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.card-container_content:hover .card-container_image {
    opacity: 0.6;
    transition:opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.text_image {
    text-shadow: 0px 2px 6px #04001B;
}

.card-container-favorites_image {
    opacity: 0.8;
    height: 80%;
    max-height: 400px;
    max-width: 300px;
}

.card-container-favorites_image:hover  {
    opacity: 0.6;
    transition:opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
